@{
    ViewBag.Title = "Insurance";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>1.	MVC 5 – including regular page rendering, HTML helpers, view models, use of WebAPI</p>
<p>2.	Entity Framework 6 – including data storage, retrieval, updates, navigation properties, collections, data annotations, migrations</p>
<p>3.	SASS (SCSS) – including mixins, variables, media queries and integration with Bootstrap</p>
<p>4.	Bootstrap – tablet/mobile responsive support and show your use of stacking, Bootstrap components (such as buttons, dropdowns, navigations etc.) and themes</p>
<p>5.	TypeScript – all your JavaScript must originate from TypeScript</p>
<p>6.	Dependency Injection (we will define whether to use StructureMap or Autofac next week)</p>
<p>7.	Audit Tracking – proper change tracking using a method discussed in Bala’s presentation</p>
<p>8.	Custom Exceptions – create reasonable new exception classes where you see them fit, including supplying of contextual information and logging</p>
<p>9.	Unit Tests using xUnit – follow the Arrage, Act, Assert pattern</p>
<p>10.  Meaningful comments throughout the project</p>