body {
  padding-top: 50px;
  padding-bottom: 20px; }

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px; }

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
  white-space: normal; }

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  max-width: 280px; }

p.form-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #FFFFFF;
  margin-top: 5%;
  text-transform: uppercase;
  letter-spacing: 4px; }

.navbar-custom {
  background-color: #0f89b0;
  border-color: #0c7191;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#13aedf), to(#0f89b0));
  background-image: -webkit-linear-gradient(top, #13aedf, 0%, #0f89b0, 100%);
  background-image: -moz-linear-gradient(top, #13aedf 0%, #0f89b0 100%);
  background-image: linear-gradient(to bottom, #13aedf 0%, #0f89b0 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff13aedf', endColorstr='#ff0f89b0', GradientType=0); }

.navbar-custom .navbar-brand {
  color: #ffffff; }

.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #e6e6e6;
  background-color: transparent; }

.navbar-custom .navbar-text {
  color: #ffffff; }

.navbar-custom .navbar-nav > li:last-child > a {
  border-right: 1px solid #0c7191; }

.navbar-custom .navbar-nav > li > a {
  color: #ffffff;
  border-left: 1px solid #0c7191; }

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #c0c0c0;
  background-color: transparent; }

.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #c0c0c0;
  background-color: #0c7191;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#0c7191), to(#1096c0));
  background-image: -webkit-linear-gradient(top, #0c7191, 0%, #1096c0, 100%);
  background-image: -moz-linear-gradient(top, #0c7191 0%, #1096c0 100%);
  background-image: linear-gradient(to bottom, #0c7191 0%, #1096c0 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0c7191', endColorstr='#ff1096c0', GradientType=0); }

.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent; }

.navbar-custom .navbar-toggle {
  border-color: #dddddd; }

.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd; }

.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc; }

.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #0c6f8f; }

.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0; }

.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #0c7191;
  color: #c0c0c0; }

.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0; }

.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff; }

@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff; }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #c0c0c0;
    background-color: transparent; }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #c0c0c0;
    background-color: #0c7191; }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent; } }

.navbar-custom .navbar-link {
  color: #ffffff; }

.navbar-custom .navbar-link:hover {
  color: #c0c0c0; }
